@media screen and (max-width: 1444px) {
.search {
    margin-right: 4%;
  }
  @media screen and (max-width: 1435px) {
.search {
    display: none;
  }

.logo{
  display: block;
  float: left;
  margin-left: 10%;
  margin-top: 24px;
  
}  
}
@media screen and (max-width: 1444px) {
	.logo{
		margin-left: 10%;
	}
}
